button {
  border: none;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  padding: 1.1rem;
  margin: 1% 1% 0 0;
  // letter-spacing: -.15rem;
  box-shadow: .3rem .3rem 0 0 darken(white, 50);
  font-size: 2rem;

  &:hover {
    font-weight: 700;
  }

  &:active {
    box-shadow: none;
    font-weight: 400;
    transform: translate(2px, 2px);
  }
}