@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* Links */
a,
a:focus,
a:hover {
  color: #a6c4dd;
}

body {
  margin-left: auto;
  margin-right: auto;
  background: none;
  color: white;
  overflow-y: scroll;
}

.background {
  height: 100vh;
  background-color: #1b1e21;
  background-image: url('../../../assets/Hexagon Background.jpg');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;

  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  // background: hsl(51, 31%, 42% / 1);
  background: hsl(0, 0%, 30%);
  border: .25rem solid hsl(0, 0%, 0%);
  border-radius: 100vw;
}


::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 30% / .5);
}