@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* Links */
a,
a:focus,
a:hover {
  color: #a6c4dd;
}

body {
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
  // background-color: #1b1e21;
  background: none;
  color: white;
}

a.nav-link:hover {
  cursor: pointer;
}

a {
  font-family: "Montserrat", monospace;
  font-size: 2.3rem;
  color: black;
  margin-left: 4rem;
  float: left;
  padding-top: 2rem;
}

nav {
  // background-color: #2f363c;
  font-family: sans-serif, monaco;
  border-width: 5px;
  // line-height: 6vh;
  height: 6vh;
  width: 100vw;
}


#typewriter {
  font-family: monospace;
  font-size: 2.5rem;
  display: inline;
}

#typewriter-cursor {
  border-right-width: 4px;
  border-right-style: solid;
  border-color: #a6c4dd;
  display:flex;
}

#typewriter-cursor.blinking {
  animation: example-blink 0.75s step-start infinite;
}

@keyframes example-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #a6c4dd;
  }
}

.terminal {
  height: 70vh;
  width: 66vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 10px;
  opacity: 0.7;
}

.terminal.hover {
  cursor: auto;
}

#history {
  font-family: monospace, sans-serif;
  font-size: 2.5rem;
  display: block;
  margin-bottom: 0px;
}

.formField {
  background-color: #000000;
  color: white;
  border: 0;
}

.commandDirectory {
  color: #8ca5ba;
  display: inline;
}

.background {
  height: 100vh;
  background-color: #1b1e21;
  background-image: url('../../../assets/Hexagon Background.jpg');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

// ::-webkit-scrollbar-track {
//   background: hsl(0, 0%, 35%);
//   border-radius: 100vw;
// }

::-webkit-scrollbar-thumb {
  // background: hsl(51, 31%, 42% / 1);
  background: hsl(0, 0%, 30%);
  border: .25rem solid hsl(0, 0%, 0%);
  border-radius: 100vw;
}


::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 30% / .5);
}

iframe {
  position: absolute;
  width: 917px;
  aspect-ratio: 8.5/11;
  margin-top: 1.9vh;
  border-radius: 10px;
  display: block;
  margin-left: calc(50vw - 510px)
}
