section {
  background-color: #000000; 
  height: 100vh;
}

#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.mb-4 {
  background-color: #121212;
}

.row {
  color: white;
}

.progress-bar {
  color: green;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.fixed-top {
  position: absolute;
  top: 0;
  left: 1rem;
}

.body {
  background-color: #000000; 
  padding-top: 60px;
  bottom: 60px;
}