#login, #loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.mb-4 {
    background-color: rgb(65, 66, 65);
}

.row {
    color: white;
}

.progress-bar {
    color: green;
}