<form [formGroup]="signupForm">
  <div class="form-group pt-3">
    <div class="input-field" [class.error]="signupForm.controls['first_name'].dirty && signupForm.hasError('required', 'first_name')">
      <span class="fa fa-user p-2"></span>
      <input formControlName="first_name" type="text" placeholder="First Name"/> 
    </div>
  </div>
  <small *ngIf="signupForm.controls['first_name'].dirty && signupForm.hasError('required', 'first_name')" class="text-danger">*First name is required</small>
  <div class="form-group pt-3">
    <div class="input-field" [class.error]="signupForm.controls['last_name'].dirty && signupForm.hasError('required', 'last_name')">
      <span class="fa fa-user p-2"></span>
      <input formControlName="last_name" type="text" placeholder="Last Name"/> 
    </div>
  </div>
  <small *ngIf="signupForm.controls['last_name'].dirty && signupForm.hasError('required', 'last_name')" class="text-danger">*Last name is required</small>
  <div class="form-group pt-3">
    <div class="input-field" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">
      <span class="fa fa-user p-2"></span>
      <input formControlName="email" type="text" placeholder="example@gmail.com"/> 
    </div>
  </div>
  <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
  <div class="form-group pt-3">
    <div class="input-field" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">
      <span class="fa fa-lock p-2"></span>
      <input formControlName="password" [type]="type" placeholder="********"/>
      <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
    </div>
  </div>
  <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
  <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" class="font-weight-bold" (click)="setDisplayForm('Login')">Login</a></div>
</form>