<nav>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <img class="images" style="float: left;" src="assets/database.png" href="#" width="40px" height="40px"/> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-link" href="/home">Home</a>
  <a class="nav-link" href="/projects">Projects</a>
  <a class="nav-link" href="/resume">Resume</a>
  <a class="nav-link" href="/contact">Contact Me</a>
</nav>