<div class="_row" (dblclick)="toggle_play_track(track);">
  <div class="column" style="justify-content: center;">
    <div class="item-index"  *ngIf="playbackState$ | async as playbackState">
      <span *ngIf="playbackState.item.uri != track.uri">{{rank+1}}</span>
      <span *ngIf="playbackState.item.uri == track.uri && !playbackState.is_playing" style="color: rgb(29, 185, 84);">{{rank+1}}</span>
      <button 
        (click)="toggle_play_track(track)" 
        class="play-svg">
        <svg class="play" *ngIf="playbackState.item.uri != track.uri">
          <path [attr.d]="iconProvider.play"></path>
        </svg>
        <svg class="play" *ngIf="playbackState.item.uri == track.uri">
          <path *ngIf="playbackState.is_playing" [attr.d]="iconProvider.pause"></path>
          <path *ngIf="!playbackState.is_playing" [attr.d]="iconProvider.play"></path>
        </svg>
        <img 
          *ngIf="playbackState.item.uri == track.uri && playbackState.is_playing"
          src="https://open.spotifycdn.com/cdn/images/device-picker-equaliser-animation.946e7243.webp">
      </button>
    </div>
  </div>
  <div class="column">
    <img [src]="track.album.images[2].url">
    <div class="song-info">
      <div class="song-name" *ngIf="playbackState$ | async as playbackState">
        <a href="https://open.spotify.com/track/{{track.id}}" target="_blank" 
          [style.color]="track.uri == playbackState.item.uri ? 'rgb(29, 185, 84)': 'white'"
          >{{track.name}}</a>
      </div>
      <div class="artist-name">
        <span *ngIf="track.explicit" class="explicit-icon">E</span>
        <div class="artist-link" *ngFor="let artist of track.artists">
          <a href="https://open.spotify.com/artist/{{artist.id}}" target="_blank"
            >{{artist.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <a href="https://open.spotify.com/album/{{track.album.id}}" target="_blank"
      >{{track.album.name}}</a>
  </div>
  <div class="column">
    <p>{{format_date(track.album.release_date)}}</p>
  </div>
  <div class="column" style="justify-content: flex-end;">
    <button (click)="toggle_favorite(rank)" class="play-svg" style="margin-right: 24px;">
      <svg *ngIf="isFavorite" class="heart" style='fill: rgb(29, 185, 84)'>
        <path [attr.d]="iconProvider.favorited"></path>
      </svg>
      <svg *ngIf="!isFavorite" class="heart">
        <path [attr.d]="this.iconProvider.unfavorited"></path>
      </svg>
    </button>
    <p style="margin-right: 12px;">{{ms_to_min_sec(track.duration_ms)}}</p>
    <button class="play-svg" (click)="add_to_queue(track)">
      <svg class="elipses">
        <path [attr.d]="iconProvider.queue"></path>
      </svg>
    </button>
  </div>
</div>