<div [style.background-color]="background_color">
  <app-playlist-header *ngIf="userProfile$ | async as userProfile"
    [coverImageUrl]="userProfile.images[1].url"
    type="Feature"
    title="Your Top Artists"
    [author]="userProfile"
    [countLabel]="top_artists.length.toString() + ' artists'"
    [durationLabel]="''"></app-playlist-header>
</div>

<div style="isolation:isolate;">
  <div class="background-gradient" [style.background-color]="background_color"></div>
  <div class="play-bar">
    <button class="play-btn" (click)="toggle_play_all()">
      <div class="play-svg">
        <svg *ngIf="playbackState$ | async as playbackState">
          <path *ngIf="!playlistPlaying || !playbackState.is_playing" [attr.d]="iconProvider.bigPlay"></path>
          <path *ngIf="playlistPlaying && playbackState.is_playing" [attr.d]="iconProvider.bigPause"></path>
        </svg>
      </div>
    </button>
    <app-top-term-button [term]="term"></app-top-term-button>
  </div>


  <div class="top-list">
    <div class="top-list-header">
      <div class="header-text" style="font-size: 16px; justify-self: end;">#</div>
      <div class="header-text" (click)="toggle_sort('artist')">Artist</div>
      <div class="header-text" (click)="toggle_sort('genres')">Genres</div>
      <div id="last-col" class="header-text" (click)="toggle_sort('popularity')">Popularity</div>
    </div>
    <app-artist-grid-item
      *ngFor="let artist of sort_artists()"
      [artist]="artist.artist"
      [rank]="artist.rank"
      [isFollowing]="isFollowing[artist.rank]">
    </app-artist-grid-item>
    <!-- <app-track-grid-item
      *ngFor="let track of sort_tracks();"
      [track]="track.track"
      [rank]="track.rank"
      [isFavorite]="isFavorite[track.rank]">
    </app-track-grid-item> -->
  </div>
</div>