<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">{{this.offcanvasNavService.displayForm}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body" style="background-color:white;">
    <app-login *ngIf="this.offcanvasNavService.displayForm=='Login'"></app-login>
    <app-signup *ngIf="this.offcanvasNavService.displayForm=='Sign Up'"></app-signup>
    <app-account-info *ngIf="this.offcanvasNavService.displayForm=='Account Info'"></app-account-info>
  </div>
</ng-template>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <i class="fa fa-gift p-4 fa-2x" (click)="this.router.navigateByUrl('portfolio')" style="cursor: pointer;"></i>
  <span>Gift Registry</span>

  <div class="spacer"></div>

  <button class="btn btn-light" (click)="navigateToGroupDashboard()" style="margin-right: 1rem;">Groups</button>
  <button *ngIf="role === 'admin'" (click)="navigateToAdminDashboard()" class="btn btn-light">Admin</button>

  <div class="spacer"></div>

  <i class="fa fa-user p-3 fa-2x" (click)="open(content)" style="cursor: pointer;"></i>
</div>