<app-gift-registry></app-gift-registry>
<div class="card" style="width: 25%;">
  <!-- <ngb-accordion [closeOthers]="true" activeIds="{{getFirstId()}}">
    <ng-container *ngFor="let group of groups">
      <ngb-panel id="{{group.id}}" title="{{group.name}}">
        <ng-template ngbPanelContent>
          <span style="display: flex;">
            <h6>ID:</h6>
            <p style="margin-left:2rem;">{{group.id}}</p>
          </span>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion> -->
</div>