<nav class="navbar navbar-expand-md navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white;" routerLink="/projects/spotify">
      <img src="../../../../../assets/Spotify_logo_without_text.svg.png" width="50" height="50" class="d-inline align-center" alt="">
      moosic thing
      <!-- <img src="../../../../../assets/spotify-icons-logos/logos/02_CMYK/02_PNG/Spotify_Logo_CMYK_Green.png"> -->
    </a>
    <!-- <button class="navbar-toggler" type="button" (click)="this.navbar_collapsed = !this.navbar_collapsed">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div [ngbCollapse]="this.navbar_collapsed" class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects/spotify/top/tracks">Top Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects/spotify/top/artists">Top Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects/spotify/playlists">Playlists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>