.main-header {
  background-color: rgb(224, 88, 112);
  background: linear-gradient(transparent 0, rgba(0,0,0,0.5) 100%);
  height: 340px;
  padding: 0 24px 24px;
  color: white;
  font-family: sans-serif;
  margin-top: -64px;

  display: flex;

  img {
    width: 232px;
    height: 232px;
    align-self: flex-end;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    margin-right: 24px;
    border-radius: 4px;
  }

  .main-header-info {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    span {
      margin-top: 8px;
    }

    #type {
      font-size: 0.875rem;
    }

    #title {
      font-size: 6rem;
      font-weight: 900;
      cursor: pointer;
      margin-bottom: 12px;
    }

    #info {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        padding-bottom: 6px;
      }

      #user {
        font-weight: 700;
      }

      #song_count::before {
        content: "•";
        margin-right: 4px;
      }

      #duration {
        color: hsla(0, 0%, 100%, 0.7);
      }
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 0;
      border-radius: 50%;
    }
  }
}

.background-gradient {
  background-color: rgb(83, 83, 83);
  background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
  margin-bottom: -232px;
  height: 232px;
  // isolation: isolate;
  z-index: -1;
}

.play-bar {
  padding: 24px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .play-btn {
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    border-radius: 50%;
    background-color: rgb(29, 185, 84);

    .play-svg {
      max-height: 100%;
      display: flex;
    }

    svg {
      fill: black;
      position: relative;
      left: 16px;
      top: 16px;
    }
  }
}

.top-list {
  padding: 0 32px;
  color: #b3b3b3;

  .top-list-header {
    height: 36px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    margin: 0 -16px 11.5px;
    padding: 0 16px;

    .header-text {
      display: flex;
      align-items: center;
      font-family: sans-serif;
      font-size: 0.875rem;
      font-weight: 400;

      .play-svg {
        height: 16px;
        width: 16px;
        display: flex;
        fill: #b3b3b3;
        margin-right: 32px;
      }
    }
  }

  ._row {
    height: 56px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 16px;
    margin: 0 -16px;
    font-family: sans-serif;

    .column {
      display: flex;
      align-items: center;

      .song-name > p {
        font-size: 1rem;
      }
      .artist-name > p {
        font-size: 0.875rem;
      }

      > p {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .play-svg {
        height: 16px;
        width: 16px;
        display: flex;
        fill: transparent;
        background-color: transparent;
        border: none;
        padding: 0;
        z-index: 1;
      }
    }

    .column > span {
      font-size: 1rem;
      position: absolute;
    }

    .column > img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      margin-right: 12px;
    }

    .explicit-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      
      background-color: hsla(0, 0%, 100%, 0.6);
      color: #121212;
      padding: 3px 5px;
      border-radius: 2px;
      font-size: 9px;
      margin-right: 8px;
    }
  }

  ._row:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    .column .play-svg .elipses {
      fill: #b3b3b3;
    }
    .column .play-svg .heart {
      fill: #b3b3b3;
    }
    .column .play-svg .play {
      fill: white;
    }

    .column span {
      color: transparent;
    }
  }
  
  .top-list-header,
  ._row {
    display: grid;
    grid-template-columns:
      [index] 16px
      [first] minmax(120px, 6fr)
      [var1] minmax(120px, 4fr)
      [var2] minmax(120px, 3fr)
      [last] minmax(120px, 1fr);
    grid-gap: 16px;
  }
}