footer {
  // height: 72px;
  background-color: #000000;
}

.container {
  height: 72px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.song {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .25s cubic-bezier(.3,0,0,1);
  transition: -webkit-transform .25s cubic-bezier(.3,0,0,1);
  transition: transform .25s cubic-bezier(.3,0,0,1);
  transition: transform .25s cubic-bezier(.3,0,0,1),-webkit-transform .25s cubic-bezier(.3,0,0,1);
}

.song-picture {
  -ms-flex-negative: 0;
  -webkit-margin-end: 8px;
  flex-shrink: 0;
  isolation: isolate;
  margin-inline-end: 8px;
  position: relative;
}

.center-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 30px 8px;
}

.play-button {
  background-color: #ffffff;
  color: #000000;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 16px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: grid;
  place-items: center;
}

i {
  color: rgb(178, 178, 178); 
  font-size: 20px;
}

button {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin: 0 8px 0;
}

img {
  
}