footer {
  // height: 72px;
  background-color: #000000;
  padding: 8px;
}

.__container {
  height: 72px;
  margin: 0;
  width: vw;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.song {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .25s cubic-bezier(.3,0,0,1);
  transition: -webkit-transform .25s cubic-bezier(.3,0,0,1);
  transition: transform .25s cubic-bezier(.3,0,0,1);
  transition: transform .25s cubic-bezier(.3,0,0,1),-webkit-transform .25s cubic-bezier(.3,0,0,1);
  min-width: 180px;
  padding-inline-start: 8px;
}

.song-picture {
  -ms-flex-negative: 0;
  -webkit-margin-end: 8px;
  flex-shrink: 0;
  isolation: isolate;
  margin-inline-end: 8px;
  position: relative;
}

.song-info {
  // color: #fff;
  // grid-area: title;
  // justify-self: start;
  // width: 100%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // -webkit-column-gap: 8px;
  // -moz-column-gap: 8px;
  // column-gap: 8px;
  display: grid;
  grid-template: "title title" "badges subtitle"/auto 1fr;
  margin: 0 8px;
  position: relative;
}

.center-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 30px 8px;
}

.play-button {
  background-color: #ffffff;
  color: #000000;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 16px;
  aspect-ratio: 1;
  fill: hsla(0, 0%, 100%, 0.7);
}

svg:hover {
  fill: white;
  transition: 0.2s;
}

button {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  width: 56px;
  height: 56px;
  border-radius: 4px;
}

.song-name,
.album-name {
  font-weight: 400;
  font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
  // position: absolute;
  // left: 0;
  overflow: hidden;  
  margin: 0 -6px 0;
  // margin-left: -6px;
  // margin-right: -6px;
  display: flex;
  padding-inline: 6px 12px;
  white-space: nowrap;
  width: fit-content;
}

.song-name {
  font-size: 1rem;
  color: #fff;
  grid-area: title;
  justify-self: start;
  // bottom: 0;
  // height: 50%;
}

.album-name {
  font-size: 0.8rem;
  color: #6a6a6a;
  // width: fit-content;
  
  grid-area: subtitle;
    // grid-column-start: subtitle;
  grid-column-start: badges;
  min-width: 0;
}

.left-controls,
.right-controls {
  min-width: 20%;
}

.right-controls {
  display: flex;
  justify-content: flex-end;
}

p {
  margin: 0;
}



.sound-bar {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.sound-slider {
  height: 12px;
  position: relative;
  width: 100%;
}

.audio-progress {
  margin: 4px 0 4px;
  height: 4px;
  width: 93px;
  background-color: hsla(0,0%,100%,.3);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  position: relative;
}

// .sound-slider {
//   height: 12px;
//   position: relative;
//   width: 100%;
// }

// .audio-progress {
//   --bg-color: hsla(0,0%,100%,.3);
//   --fg-color: #fff;
//   --is-active-fg-color: #1db954;
//   --progress-bar-transform: 0%;
//   --progress-bar-height: 4px;
//   --progress-bar-radius: calc(var(--progress-bar-height)/2);
//   height: 100%;
//   overflow: hidden;
//   -ms-touch-action: none;
//   touch-action: none;
//   width: 93px;
// }

.audio-progress .bar {
  height: 100%;
  background-color: white;
  border-radius: 2px;
}

.audio-progress-bar {
  position: fixed;
}


.bar:active {
  cursor: pointer;
  background-color: rgb(29, 185, 84);
}

#audio-progress-handle {
  // display: block;
  position:absolute;
  // z-index: 1;
  margin-top: -4px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: transparent;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  cursor:pointer;
  float: left;
}

#audio-progress-handle:hover {
  background-color: #fff;
}

.draggable {
  float: left; margin: 0 10px 10px 0;
}

