<footer class="sticky-bottom" *ngIf="playbackState$ | async as playbackState">
  <div class="__container">
    <div class="left-controls">
      <div class="song">
        <div class="song-picture" *ngIf="playbackState.item.album.images[2]">
          <img class="album-cover" src="{{playbackState.item.album.images[2].url}}"/>
        </div>
        <div class="song-info">
          <div class="song-name">
            <a href="https://open.spotify.com/track/{{playbackState.item.id}}" target="_blank">{{playbackState.item.name}}</a>
          </div>
          <div class="artist-name">
            <div class="artist-link" *ngFor="let artist of playbackState.item.artists">
              <a href="https://open.spotify.com/artist/{{artist.id}}" target="_blank"
                >{{artist.name}}</a>
            </div>
          </div>
        </div>
        <button *ngIf="(isFavorite$ | async) != null" class="player-button" (click)="toggle_favorite(playbackState.item)">
          <svg class="playback-svg" [style.fill]="(isFavorite$ | async) ? 'rgb(29, 185, 84)': 'hsla(0,0%,100%,.7)'">
            <path [attr.d]="(isFavorite$ | async) ? iconProvider.favorited: iconProvider.unfavorited"></path>
          </svg>
          <!-- <svg *ngIf="!isFavorite | async" class="playback-svg" style="fill: hsla(0,0%,100%,.7)">
            <path [attr.d]="iconProvider.unfavorited"></path>
          </svg> -->
        </button>
      </div>
    </div>

    <div class="center-piece">
      <div class="player-controls">
        <button class="player-button" (click)="toggle_shuffle(playbackState.shuffle_state)">
          <svg class="playback-svg" [style.fill]="playbackState.shuffle_state ? this.green: this.gray">
            <path [attr.d]="iconProvider.shuffleStart"></path>
            <path [attr.d]="iconProvider.shuffleEnd"></path>
          </svg>
        </button>
        <button class="player-button" (click)="skip_to_previous()">
          <svg class="playback-svg">
            <path [attr.d]="iconProvider.previous"></path>
          </svg>
        </button>
        <button class="play-button player-button" style="background-color: white; margin: 0 12px;" (click)="toggle_play(playbackState)">
          <svg class="playback-svg" style="fill: black; width: 16px;">
            <path [attr.d]="playbackState.is_playing ? iconProvider.pause: iconProvider.play"></path>
          </svg>
        </button>
        <button class="player-button" (click)="skip_to_next()">
          <svg class="playback-svg">
            <path [attr.d]="iconProvider.next"></path>
          </svg>
        </button>
        <button class="player-button" (click)="toggle_repeat(playbackState.repeat_state)">
          <svg class="playback-svg" [style.fill]="playbackState.repeat_state != 'off' ? this.green: this.gray">
            <path *ngIf="playbackState.repeat_state != 'track'" [attr.d]="iconProvider.repeatContext"></path>
            <path *ngIf="playbackState.repeat_state == 'track'" [attr.d]="iconProvider.repeatTrackStart"></path>
            <path *ngIf="playbackState.repeat_state == 'track'" [attr.d]="iconProvider.repeatTrackEnd"></path>
          </svg>
        </button>
      </div>
      <div class="playback-bar">
        <div class="playback-time" style="text-align: right;">{{ms_to_min_sec(playbackState.progress_ms)}}</div>
          <div class="playback-slider" id="playback-slider" (click)="playback_clicked(playbackState, $event)">
            <div class="playback-progress" id="playback-progress">
              <div class="bar" [style.width.px]="playbackTimerWidthPx"></div>
              <div 
                cdkDrag 
                cdkDragBoundary=".playback-progress">
              </div>
              <div id="playback-progress-handle"></div>
            </div>
          </div>
        <div class="playback-time" style="text-align: left;">{{ms_to_min_sec(playbackState.item.duration_ms)}}</div>
      </div>
      <div class="playback-bar" *ngIf="!playbackState">
        <div class="playback-time" style="text-align: right;">-:--</div>
          <div class="playback-slider" id="playback-slider">
            <div class="playback-progress" id="playback-progress">
              <div class="bar" [style.width.px]="0"></div>
              <div 
                cdkDrag 
                cdkDragBoundary=".playback-progress">
              </div>
              <div id="playback-progress-handle"></div>
            </div>
          </div>
        <div class="playback-time" style="text-align: left;">-:--</div>
      </div>
    </div>
    
    <div class="right-controls">

      <div class="sound-bar">
        <ng-template #devicePickerContent>
          <div class="device-picker">
            <div class="device-picker-header">
              <div *ngIf="playbackState.is_playing; else currentDeviceIconBlock">
                <img class="play-animation" src="https://open.spotifycdn.com/cdn/images/device-picker-equaliser-animation.946e7243.webp">
              </div>
              <ng-template #currentDeviceIconBlock>
                <svg class="device-picker-svg" style="fill: rgb(29, 185, 84)" *ngIf="playbackState.device.name != 'Web Playback SDK'">
                  <path *ngFor="let d of get_device_icons(playbackState.device.type, 'big')" [attr.d]="d"></path>
                </svg>
                <svg class="device-picker-svg" *ngIf="playbackState.device.name == 'Web Playback SDK'">
                  <path *ngFor="let d of get_device_icons(playbackState.device.type, 'big')" [attr.d]="d"></path>
                </svg>
              </ng-template>
              <div id="current-device">
                <div class="current-device-text">
                  <h3>Current device</h3>
                </div>
                <div class="current-device-display">
                  <svg class="playback-svg" *ngIf="true" style="margin-inline-start: 6px; fill: rgb(29, 185, 84)">
                    <path [attr.d]="iconProvider.deviceNameDecoratorStart"></path>
                    <path [attr.d]="iconProvider.deviceNameDecoratorEnd"></path>
                  </svg>
                  <div class="current-device-text">
                    <p>{{playbackState.device.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="device-picker-body">
              <div class="current-device-text" style="padding: 0 6px">
                <h4>Select another device</h4>
              </div>
              <ul class="device-list">
                <li *ngFor="let device of devices">
                  <div *ngIf="device.id != playbackState.device.id">
                    <button class="device-button" (click)="set_playback_device(device)">
                      <svg class="device-picker-svg">
                        <path *ngFor="let d of get_device_icons(device.type, 'big')" [attr.d]="d"></path>
                      </svg>
                      <div class="device-text">
                        <p>{{device.name}}</p>
                      </div>
                    </button>
                  </div>
                </li>
                <li>
                  <a class="external-url" href="https://support.spotify.com/us/article/spotify-connect/" target="_blank">
                    <div class="device-help-link">
                      <p>Don't see your device?</p>
                    </div>
                    <svg class="playback-svg external-url-margin">
                      <path [attr.d]="iconProvider.externalLinkStart"></path>
                      <path [attr.d]="iconProvider.externalLinkEnd"></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="external-url" href="https://connect.spotify.com/howto?utm_campaign=connect&utm_medium=web&utm_source=desktop" target="_blank">
                    <div class="device-help-link">
                      <p>What can I connect to?</p>
                    </div>
                    <svg class="playback-svg external-url-margin">
                      <path [attr.d]="iconProvider.externalLinkStart"></path>
                      <path [attr.d]="iconProvider.externalLinkEnd"></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>

        <div style="position: relative">
          <div class="device-carrot" *ngIf="playbackState.device.name != 'Web Playback SDK'"></div>
          <button class="player-button" [ngbPopover]="devicePickerContent" (click)="get_available_devices()">
            <svg class="playback-svg" [style.fill]="playbackState.device.name == 'Web Playback SDK' ? 'hsla(0, 0%, 100%, 0.7)': 'rgb(29, 185, 84)'">
              <path *ngFor="let d of get_device_icons(playbackState.device.type, 'small')" [attr.d]="d"></path>
            </svg>
          </button>
        </div>

        <button class="player-button" (click)="toggle_mute(playbackState.device.volume_percent)">
          <svg class="playback-svg" *ngIf="playbackState.device.volume_percent <= 0">
            <path [attr.d]="iconProvider.volumeMuteStart"></path>
            <path [attr.d]="iconProvider.volumeMuteEnd"></path>
          </svg>
          <svg class="playback-svg" *ngIf="playbackState.device.volume_percent > 0 && playbackState.device.volume_percent < 33">
            <path [attr.d]="iconProvider.volumeLow"></path>
          </svg>
          <svg class="playback-svg" *ngIf="playbackState.device.volume_percent > 33 && playbackState.device.volume_percent < 66">
            <path [attr.d]="iconProvider.volumeMedium"></path>
          </svg>
          <svg class="playback-svg" *ngIf="playbackState.device.volume_percent > 66">
            <path [attr.d]="iconProvider.volumeLow"></path>
            <path [attr.d]="iconProvider.volumeHigh"></path>
          </svg>
        </button>
        <div class="sound-slider" id="sound-slider" (click)="volume_clicked($event)">
          <div class="audio-progress" id="audio-progress">
            <div class="bar" [style.width.%]="playbackState.device.volume_percent"></div>
            <div 
              cdkDrag 
              cdkDragBoundary=".audio-progress">
              <!-- (cdkDragMoved)="volume_drag_move($event)"
              (cdkDragEnded)="volume_drag_end($event)" -->
            </div>
            <div id="audio-progress-handle"></div>
          </div>
        </div>
        <button class="player-button" [ngbPopover]="devicePickerContent"></button>
      </div>
    </div>
  </div>
  <div class="device-banner" *ngIf="playbackState.device && (playbackState.device.name != 'Web Playback SDK')">
    <svg class="playback-svg" *ngIf="true" style="fill: black;">
      <path [attr.d]="iconProvider.deviceNameDecoratorStart"></path>
      <path [attr.d]="iconProvider.deviceNameDecoratorEnd"></path>
    </svg>
    <div class="current-device-text">
      <p style="color: black; font-size: 0.875rem;">Listening on {{playbackState.device.name}}</p>
    </div>
  </div>
</footer>