<!-- <li><a routerLink={{this.project.url}} routerLinkActive="active">{{this.project.title}}</a></li> -->

<div class="container">
  <div class="wrapper">
    <div class="banner-image" [ngStyle]="{'background-color': this.project.color}">
      <div class="logo" [ngStyle]="{'background-image': 'url(' + this.project.image + ')'}"></div>
    </div>
    <h1>{{this.project.title}}</h1>
    <p [innerHTML]="this.project.description"></p>
  </div>
  <div class="button-wrapper"> 
    <a href="{{this.project.github}}" target="_blank" class="px-2">
      <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt="">
    </a>
    <button class="btn outline" (click)="navigate(this.project.url)">TRY IT OUT</button>
  </div>
</div> 