<div class="main">
  <app-navbar></app-navbar>
  <div class="_body">
    <section class="_container" id="leftContainer" [style.width.%]="leftContainerWidth">
      <header class="_header">
        <div style="flex-grow: 1;"></div>
        <div class="header-links">
          <a href="https://open.spotify.com/download" target="_blank">
            <svg class="playback-svg">
              <path [attr.d]="iconProvider.downloadStart"></path>
              <path [attr.d]="iconProvider.downloadEnd"></path>
            </svg>
            <p>Install App</p>
          </a>
          <a *ngIf="userProfile$ | async as userProfile">
            <img *ngIf="userProfile.images[0]" [src]="userProfile.images[0].url" draggable="false"/>
          </a>
        </div>
      </header>
      <router-outlet></router-outlet>
    </section>
    <div class="divider" draggable="true" (mousedown)="resize($event)"></div>
    <section class="_container" id="rightContainer" [style.width.%]="rightContainerWidth">asdfasdfasdfasdf</section>
  </div>
  <app-player-footer></app-player-footer>
</div>